{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'GoogleModule'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'GoogleModule'|trans }}</h2>

    {#{{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}#}

{% endblock content %}
